.contactList {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  flex-direction: column;
  padding: 8px;
  max-width: 400px;
}

.contactListItem {
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
